<style>
@media screen and (min-device-width : 320px) and (max-device-width : 763px) {
	.desktop 
	{ display: none;
	visibility: hidden;}}

@media screen and (min-device-width : 764px) and (max-device-width : 999px) {.mobile { display: none; visibility: hidden;}}

@media screen and (min-device-width : 1000px) {.mobile, { display: none; visibility: hidden;}}

</style>